<div class="about position-relative">
  <div class="container">
    <!-- how i can center the content vertically and horizontally -->
     <!-- that's don't work -->

    <div class="d-flex flex-column justify-content-center align-items-center text-white" style="min-height: 81vh;"> 
        <h1 class="text-uppercase fw-bold">About Component</h1>
        <div class="starseparator pb-2">
          <fa-icon [icon]="faStar"></fa-icon>
        </div>
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-5">
                <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
            </div>
            <div class="col-5">
                <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
            </div>
        </div>
    </div>
  </div>
</div>
