<header>
    <div class="container">
        <div class="row flex-column text-center">
            <div class="col my-5">
                <div class="icon">
                    <img src="home-icon.svg" alt="Logo" class="logo" style="width: 270px; height: 270px;">
                </div>
            </div>
            <div class="col text-white">
                <div class="text-header">
                    <h1 class="text-uppercase">start Framework</h1>
                    <div class="starseparator">
                        <fa-icon [icon]="faStar"></fa-icon>
                    </div>
                    <p>Graphic Artist - Web Designer - Illustrator</p>
                </div>
            </div>
        </div>
    </div>
</header>
