<div class="about position-relative">
  <div class="container">
    <!-- how i can center the content vertically and horizontally -->
     <!-- that's don't work -->

    <div class="text-center pt-4"> 
        <h1 class="text-uppercase fw-bold">portfolio component</h1>
        <div class="starseparator pb-2">
          <fa-icon [icon]="faStar"></fa-icon>
        </div>
        <div class="row row-cols-3 d-flex justify-content-center align-items-center g-5 pt-3 pb-4">
            <div class="col">
                <div class="item rounded-2 overflow-hidden">
                    <img class="w-100" src="/portfolio/imgi_1_poert1.png" alt="">
                </div>
            </div>
            <div class="col">
                <div class="item rounded-2 overflow-hidden">
                    <img class="w-100" src="/portfolio/imgi_2_port2.png" alt="">
                </div>
            </div>
            <div class="col">
                <div class="item rounded-2 overflow-hidden">
                    <img class="w-100" src="/portfolio/imgi_3_port3.png" alt="">
                </div>
            </div>
            <div class="col">
                <div class="item rounded-2 overflow-hidden">
                    <img class="w-100" src="/portfolio/imgi_1_poert1.png" alt="">
                </div>
            </div>
            <div class="col">
                <div class="item rounded-2 overflow-hidden">
                    <img class="w-100" src="/portfolio/imgi_2_port2.png" alt="">
                </div>
            </div>
            <div class="col">
                <div class="item rounded-2 overflow-hidden">
                    <img class="w-100" src="/portfolio/imgi_3_port3.png" alt="">
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
