*{
    --primary-color: white;
}
.about {
    background-color: var(--primary-color);
}

fa-icon {
    position: relative;
}
fa-icon::before{
    content: '';
    background-color: RGB(44, 62, 80) !important;
    height: 4px;
    width: 80px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -95px;
    z-index: 2;
}
fa-icon::after{
    content: '';
    background-color: RGB(44, 62, 80) !important;
    height: 4px;
    width: 80px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -95px;
    z-index: 10;
}
.col a{
    /* can clicked */
    cursor: pointer;
}